* {
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background: #cfd2da;
  }
  form {
    background-color: antiquewhite;
    margin: clamp(6rem, 3vw, 20rem);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  form > * {
      margin: 0.4rem;
  }
  
  
  
  button {
    margin-top: 2rem;
    width: 6rem;
  }
  
  #tid {
    width: 4.4rem;
  }
  
  #serves {
    width: 2.5rem;
  }
  
  #countries {
    margin-top: 0rem;
  }
  